<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mine.demo.mapper.VehicleStatisticsMapper">
  <resultMap id="BaseResultMap" type="com.mine.demo.model.VehicleStatistics">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="brand_distribution" jdbcType="VARCHAR" property="brandDistribution" />
    <result column="range_condition" jdbcType="INTEGER" property="rangeCondition" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, customer_name, amount, brand_distribution, range_condition
  </sql>
  <select id="selectByExample" parameterType="com.mine.demo.model.VehicleStatisticsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_vehicle_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_vehicle_statistics
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_vehicle_statistics
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.mine.demo.model.VehicleStatisticsExample">
    delete from tb_vehicle_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mine.demo.model.VehicleStatistics">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_vehicle_statistics (customer_name, amount, brand_distribution, 
      range_condition)
    values (#{customerName,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, #{brandDistribution,jdbcType=VARCHAR}, 
      #{rangeCondition,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mine.demo.model.VehicleStatistics">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_vehicle_statistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerName != null">
        customer_name,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="brandDistribution != null">
        brand_distribution,
      </if>
      <if test="rangeCondition != null">
        range_condition,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="brandDistribution != null">
        #{brandDistribution,jdbcType=VARCHAR},
      </if>
      <if test="rangeCondition != null">
        #{rangeCondition,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_vehicle_statistics
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.customerName != null">
        customer_name = #{record.customerName,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=INTEGER},
      </if>
      <if test="record.brandDistribution != null">
        brand_distribution = #{record.brandDistribution,jdbcType=VARCHAR},
      </if>
      <if test="record.rangeCondition != null">
        range_condition = #{record.rangeCondition,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_vehicle_statistics
    set id = #{record.id,jdbcType=BIGINT},
      customer_name = #{record.customerName,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=INTEGER},
      brand_distribution = #{record.brandDistribution,jdbcType=VARCHAR},
      range_condition = #{record.rangeCondition,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mine.demo.model.VehicleStatistics">
    update tb_vehicle_statistics
    <set>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="brandDistribution != null">
        brand_distribution = #{brandDistribution,jdbcType=VARCHAR},
      </if>
      <if test="rangeCondition != null">
        range_condition = #{rangeCondition,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mine.demo.model.VehicleStatistics">
    update tb_vehicle_statistics
    set customer_name = #{customerName,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=INTEGER},
      brand_distribution = #{brandDistribution,jdbcType=VARCHAR},
      range_condition = #{rangeCondition,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectOneByExample" parameterType="com.mine.demo.model.VehicleStatisticsExample" resultMap="BaseResultMap">
    select
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_vehicle_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    insert into tb_vehicle_statistics
    (customer_name, amount, brand_distribution, range_condition)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.customerName,jdbcType=VARCHAR}, #{item.amount,jdbcType=INTEGER}, #{item.brandDistribution,jdbcType=VARCHAR}, 
        #{item.rangeCondition,jdbcType=INTEGER})
    </foreach>
  </insert>
  <insert id="batchInsertSelective" keyColumn="id" keyProperty="list.id" parameterType="map" useGeneratedKeys="true">
    insert into tb_vehicle_statistics (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'customer_name'.toString() == column.value">
          #{item.customerName,jdbcType=VARCHAR}
        </if>
        <if test="'amount'.toString() == column.value">
          #{item.amount,jdbcType=INTEGER}
        </if>
        <if test="'brand_distribution'.toString() == column.value">
          #{item.brandDistribution,jdbcType=VARCHAR}
        </if>
        <if test="'range_condition'.toString() == column.value">
          #{item.rangeCondition,jdbcType=INTEGER}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>