<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<springProperty scope="context" name="logback.dir" source="logging.filepath" />
	<springProperty scope="context" name="logback.all.filename" source="logging.all.filename" />
	<springProperty scope="context" name="logback.error.filename" source="logging.error.filename" />
	<springProperty scope="context" name="logback.maxhistory" source="logging.maxhistory" />
	<springProperty scope="context" name="logback.maxfilesize" source="logging.maxfilesize" />
	<springProperty scope="context" name="logback.level" source="logging.logback.level" />
	<springProperty scope="context" name="logback.charset" source="logging.charset" />

	<appender name="file-all" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logback.dir}/${logback.all.filename}.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logback.dir}/${logback.all.filename}.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
			<MaxHistory>${logback.maxhistory}</MaxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>${logback.maxfilesize}</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} -%5p [%15.15t] %-40.40logger{39} : %m%n</pattern>
		</encoder>
	</appender>

	<appender name="file-error" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logback.dir}/${logback.error.filename}.log</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY </onMismatch>
		</filter>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logback.dir}/${logback.error.filename}.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
			<MaxHistory>${logback.maxhistory}</MaxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>${logback.maxfilesize}</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} -%5p [%15.15t] %-40.40logger{39} : %m%n</pattern>
		</encoder>
	</appender>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} -%5p [%15.15t] %-40.40logger{39} : %m%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework.data.redis" additivity="false" level="error"/>
	<logger name="com.bruce.tool.orm.mybatis.generator" additivity="false" level="info"/>
	<!-- druid的sql打印日志-logger -->
	<logger name="org.springframework.amqp.rabbit.listener" level="INFO" />
	<logger name="org.springframework.jdbc.datasource" level="INFO" />
	<logger name="com.ctrip.framework.apollo" level="INFO" />
	<logger name="org.apache.zookeeper" level="INFO" />
	<logger name="druid.sql.Statement" level="DEBUG" />
	<logger name="com.alibaba.dubbo" level="INFO" />
	<logger name="org.apache.dubbo" level="INFO" />

	<root>
		<level value="${logback.level}" />
		<appender-ref ref="file-all" />
		<appender-ref ref="file-error" />
		<appender-ref ref="console" />
	</root>

</configuration>
